 .container{
    /* Step 1: Set display to grid */
      display:grid;
   /* Step 2: setup rows amd columns 
      grid-template-columns: 300px 300px 300px;
      grid-template-rows: 250px 600px;
      grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "sd sd sd main main main main main"
      "ft ft ft ft ft ft ft ft";*/
      border: 2px solid yellow;
    grid-auto-rows:minmax(50px,135px);
    grid-template-colums:repeat(6,1fr);
    
  }
  .box{
    border: 1px solid red;
    background: #F8FA9D;
    }
  .header{
    grid-area: 1 / 1 / span 2 / span 4;
  }
  .footer{
    grid-area: 4 / 1 / span 2 / span 4;
  }
  .sidebar{
    grid-area: 2 / 1 / span 2 / span 1;
  }
  .content{
    grid-area: 2 / 2 / span 2 / span 3;
  }
