 .container{
    
    display:grid;
   
    border: 2px solid yellow;
    grid-auto-rows:minmax(50px,135px);
    grid-template-colums:repeat(4,2fr);
    
  }
  
  .box{
    border: 1px solid red;
    background: #F8FA9D;
    }
	
	
	
	
  .header{
    grid-area: 1 / 1 / span 2 / span 4;
  }
  
  .footer{
    grid-area: 4 / 1 / span 2 / span 4;
  }
  
  .sidebar{
    grid-area: 2 / 1 / span 2 / span 1;
  }
  
  .content{
    grid-area: 2 / 2 / span 2 / span 3;
  }

/* made for the nested content*/
#grid_content{
		display: flex;
		grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
	border: 3px solid blue;
	
}

.contentBox{
	width: 200px;
	height:150px;
	border: 1px solid green;
	
}



#box1{

	background-image: url('Fates_bg.jpg');
	background-size:contain;
	background-repeat:none;
	color: cyan;
}


#box2{

	background-image: url('Fates_bg.jpg');
	background-size:contain;
	background-repeat:none;
}
