@import "gridContent.css";

@import "button.css";

@import "midScreen.css" screen and (max-width: 650px);

@import "smallScreen.css" screen and (max-width: 400px);





body{
	background-color:#019fcb;
}




 .container{
    
    display:grid;
   
   /* border: 2px solid yellow;
    grid-auto-rows:minmax(120px,230px);
    grid-template-colums:2fr 1fr 2fr 1fr;
    min-width: 250px;
  	position: relative;
    */
    
  }
  
  .box{
    border: 1px solid #1D5174;
    background: #02B3E4;
	background-repeat: no-repeat;
    color:#8c1cfd;
    }
	
	
	
	
  .header{
  	display:flex;
    color:black;
    
  }
  
  .footer{
    
    display:flex;
    align-items: center;
  justify-content: center;
  }
  
  .sidebar{
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
    
  }
  
  .content{
  	display:flex;
    
    border: 2px solid blue;
  }
  
  
  
  
.Home{
	
	width: auto;
	height:auto;
	border: 1px solid blue;
    column-gap: 2px;
    background: #d1f1fa;
	
	background-size:contain;
	
	text-align: center;
	align-items: center;
	
}



  
  



